body{
    background-color: black;
    font-family: Inter, sans-serif;
    color: white
}
.menu-frame{
    height:30px;
}
#intro-header-1{
    font-size: 60px;
    padding-left: 100px;
    padding-top: 150px;
    font-weight: 800;   
    margin: 0;

}
#intro-header-2{
    font-size: 60px;
    padding-left: 100px;
    font-weight: 800;   
    margin: 0;

}
#intro-header-3{
    font-size: 60px;
    padding-left: 100px;
    font-weight: 800;   
    margin: 0;
}
#home{
    filter: invert();
    height: 50px;
    padding-left: 100px;
    padding-top: 35px;
    transition: transform 0.3s ease;
}

#home:hover{
    transform: translateY(-5px);
}

#about-me{
    color: white;
    float: right;
    margin-right: 150px;
    padding-top: 5px;
    font-size: 35px;
}
#email{
    font-size: 30px;
    padding-left: 100px;
    padding-top: 25px;
    color:white;
    margin: 0;
}
#projects, #cv{
    font-size: 30px;
    padding-left: 100px;
    color:white;
    margin: 1;
}